
.v2{
    height: 100px;
}
.GeeksForGeeks {
  background-image: url("https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&https://images.pexels.com/photos/904177/pexels-photo-904177.jpeg?auto=compress&cs=tinysrgb&w=600=600");
  background-size: "cover";
  height: 730px;
  margin-top: -0px;

  background-repeat: no-repeat;
}